
.notes-menu {
  margin-top: 500px;
  margin-left: 1040px;
  width: 400px;
  height: 320px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: left;
  display: block;
}



.chapter-section {
  margin-top: -2;
  display: flex;
}
.chapter-section h1 {
}

.chapter-section .chapter-input {
  height: 30px;
  width: 300px;
  margin-left: 4px;
  margin-top: -2px;
  padding-left: 2px;
}




.header-section {
  margin-top: 10px;
  display: flex;
}

.header-section .header-input {
  height: 30px;
  width: 300px;
  margin-left: 4px;
  margin-top: -2px;
  padding-left: 2px;
}




.notes-section {
  margin-top: 10px;
  display: flex;
}

.notes-section .notes-textarea {
  width: 500px;
  height: 170px;
  padding-left: 2px;
  margin-left: 4px;
  margin-top: -2px;
  resize: none;

}

.save-button {
  margin-left: px;
  margin-top: 10px;
  width: 360px;
  height: 35px;
  background-color: rgb(119, 109, 109);
  border:#fff;
  border: black;

  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: rgb(137, 126, 126);
}


